.cv-container {
    background: url('../images/image10.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.cv-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: 50px;
}

.cv-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    width: 900px;
    
}


.cv-container-wrapper-info > p {
    margin-top: 10px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  

    text-align: center;
   

}
.cv-container-wrapper-info > h3 {
    margin-top: 40px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  

    text-align: center;

}


@media screen and (max-width: 1600px) {
    .cv-container > h1 {
        font-size: 70px;
        margin-top: 0px;    
    }

    .cv-container-wrapper-info {
        width: 90%;
    }
}

@media screen and (max-width: 950px) {
    .cv-container > h1 {
        font-size: 50px;
        margin-top: 0px;    
    }

    .cv-container-wrapper-info {
        font-size: 15px;
        width: 70%;    
    }

    .cv-container-wrapper-info > h3 {
        font-size: 25px;  
    }

    .cv-container-wrapper-info > p {
        font-size: 25px;  
    }
}

@media screen and (max-width: 650px) {
    .cv-container-wrapper-info {
        width: 50%;    
    }
}